body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#gradingResult {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}


.title {
    text-align: center;
    padding: 20px;
}

#flashcardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#flashcardContainer form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 500px;
}

#flashcardContainer input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#flashcardContainer p {
    width: 100%;
}